<app-navbar></app-navbar>
<div class="container">
  <div class="genre-buttons">
      <button (click)="getMoviesxGenre(numberPage, '35')" [ngClass]="{ 'button-selected': genreSeleccionado === '35' }" class="button">Comedia</button>
      <button (click)="getMoviesxGenre(numberPage, '12')" [ngClass]="{ 'button-selected': genreSeleccionado === '12' }" class="button">Aventura</button>
      <button (click)="getMoviesxGenre(numberPage, '28')" [ngClass]="{ 'button-selected': genreSeleccionado === '28' }" class="button">Acción</button>
      <button (click)="getMoviesxGenre(numberPage, '16')" [ngClass]="{ 'button-selected': genreSeleccionado === '16' }" class="button">Animación</button>
      <button (click)="getMoviesxGenre(numberPage, '80')" [ngClass]="{ 'button-selected': genreSeleccionado === '80' }" class="button">Crimen</button>
      <button (click)="getMoviesxGenre(numberPage, '53')" [ngClass]="{ 'button-selected': genreSeleccionado === '53' }" class="button">Suspenso</button>
      <button (click)="getMoviesxGenre(numberPage, '27')" [ngClass]="{ 'button-selected': genreSeleccionado === '27' }" class="button">Terror</button>
      <button (click)="getMoviesxGenre(numberPage, '18')" [ngClass]="{ 'button-selected': genreSeleccionado === '18' }" class="button">Drama</button>
      <button (click)="getMoviesxGenre(numberPage, '14')" [ngClass]="{ 'button-selected': genreSeleccionado === '14' }" class="button">Fantasía</button>
      <button (click)="getMoviesxGenre(numberPage, '9648')" [ngClass]="{ 'button-selected': genreSeleccionado === '9648' }" class="button">Misterio</button>
      <button (click)="getMoviesxGenre(numberPage, '10749')" [ngClass]="{ 'button-selected': genreSeleccionado === '10749' }" class="button">Romance</button>
      <button (click)="getMoviesxGenre(numberPage, '10752')" [ngClass]="{ 'button-selected': genreSeleccionado === '10752' }" class="button">Guerra</button>
      <button (click)="getMoviesxGenre(numberPage, '878')" [ngClass]="{ 'button-selected': genreSeleccionado === '878' }" class="button">Ciencia ficción</button>
      <button (click)="getMoviesxGenre(numberPage, '37')" [ngClass]="{ 'button-selected': genreSeleccionado === '37' }" class="button">Lejano Oeste</button>
      <button (click)="getMoviesxGenre(numberPage, '10402')" [ngClass]="{ 'button-selected': genreSeleccionado === '10402' }" class="button">Música</button>
      <button (click)="getMoviesxGenre(numberPage, '10770')" [ngClass]="{ 'button-selected': genreSeleccionado === '10770' }" class="button">TV</button>
  </div>

  <div class="busqueda">
    <input [(ngModel)]="titleToSearchHome"  class="inputSearch" type="text" placeholder="Buscar películas...">
    <button (click)="getMoviesXTittle(numberPage, titleToSearchHome)" class="searchButton">Buscar</button>
  </div>

  <div class="pagination">
    <button (click)="PreviousPage()" [ngClass]="{'primera-pagina': numberPage === 1}" class="button">Anterior</button>
      <h3>{{ numberPage }}</h3>
    <button (click)="nextPage()" class="button">Siguiente</button>
  </div>

  <div *ngFor="let movie of movies" class="movie-card">
      <div class="movie-poster">
        <img [src]= "'https://image.tmdb.org/t/p/w500'+ movie.poster_path" alt="{{ movie.title }} Poster" />
      </div>
      <div class="movie-details">
        <h2>{{ movie.title }}</h2>
        <p class="overview">{{ movie.overview }}</p>
        <p><strong>Fecha de estreno:</strong> {{ movie.release_date }}</p>
        <p><strong>Puntuacion:</strong> {{ movie.vote_average }}</p>
        <p><strong>Cantidad de votos:</strong> {{ movie.vote_count }}</p>
        <div class= "agregarFav"> 
          <div class=" textFav"><p>Agregar a favoritos:</p></div>
          <div class="star" [class.favorite]="isFavorite(movie.id)"  (click)="buttonFavorite(userLogedIdToNumber ,movie.id) ">&#9734;</div>
        </div></div>
      </div>
  </div>

  <div class="pagination">
    <button (click)="PreviousPage()" [ngClass]="{'primera-pagina': numberPage === 1}" class="button">Anterior</button>
      <h3>{{ numberPage }}</h3>
    <button (click)="nextPage()" class="button">Siguiente</button>
  </div>
<app-footer></app-footer>