<app-navbar></app-navbar>

<div *ngIf="hayFavoritos" class="container">
  <button (click)="buttonBackFavToUser()">ATRAS</button>
  <div >
    <div *ngFor="let movie of movies" class="movie-card">
      <div class="movie-poster">
        <img [src]= "'https://image.tmdb.org/t/p/w500'+ movie.poster_path" alt="{{ movie.title }} Poster" />
      </div>
      <div class="movie-details">
        <h2>{{ movie.title }}</h2>
        <p class="overview">{{ movie.overview }}</p>
        <p><strong>Fecha de estreno:</strong> {{ movie.release_date }}</p>
        <p><strong>Puntuacion:</strong> {{ movie.vote_average }}</p>
        <p><strong>Cantidad de votos:</strong> {{ movie.vote_count }}</p>
        <div class= "agregarFav"> 
          <div class=" textFav"><p>Agregar a favoritos:</p></div>
          <div class="star" [class.favorite]="isFavorite(movie.id)"  (click)="buttonFavorite(userLogedIdToNumber ,movie.id) ">&#9734;</div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="buttonBackFavToUser()">ATRAS</button>
</div>

<div class="ups" *ngIf="!hayFavoritos">
  <button (click)="buttonBackFavToUser()">ATRAS</button>
  <h2 class="nofavoritos"> No tiene favoritos agregados </h2>
  <button (click)="buttonBackFavToUser()">ATRAS</button>
</div>

<app-footer></app-footer>